<%= javascript_include_tag "users.js" %>

<div id="users">
  <table>
    <thead>
    <tr><td>登录名</td><td>密码</td><td>用户姓名</td></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
    <a href="#" id="prev">上一页 </a>
  　　<a href="#" id="next">下一页</a>
</div>