<div id="rule">
<table>
  <thead>
  <tr>
    <td>名称</td>
    <td>编号</td>
    <td>使用的角色</td>
  </tr>
  </thead>
  <tbody>
<% @functions.each do |function| %>
  <tr>
    <td><%= function.name %></td>
    <td><%= function.number %></td>
    <td>
      <% function.roles.each do |r| %>
      <%= r.name %>，
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>