<div id="apDiv1">

  <img src="../images/error.jpg" alt="出现错误页面" style="padding-left:150px">
  <p align="center" style="color:#FF6600; font-size:18px; margin-top:-160px; margin-left:-60px">
   请重新登录<br>
     您的用户名或者密码错误
   </p>
</div>