@charset "utf-8";
/* CSS Document */

#login{
	margin-top:20px;
	padding:120px 0 0;
	height:300px;
	background:url(../images/acbg.jpg);
	background-position:top  ;
	background-repeat:no-repeat
}

#login table{
	margin:0 auto;
	border:0;
}

h1{
	font-size:32px;
	font-family:"黑体"
}
div{
	font-size:13px;
	color:#999;
}
table{
	border:dotted 2px #CCC;
	padding:10px;
}
table td{
	padding:8px 20px;
	font-size:13px;
}
.field input{
	border:solid 1px #CCC;
	width:210px;
	height:20px;
}