@charset "utf-8";
/* CSS Document */

body{
	padding:20px;
}
h1{
	font-size:32px;
	font-family:"黑体"
}
div{
	font-size:13px;
	color:#999;
}
table{
	border:dotted 2px #CCC;
	padding:10px;
}
table td{
	padding:3px 20px;
	font-size:13px;
}
.field input{
	border:solid 1px #CCC;
	width:210px;
	height:20px;
}