<p>图书列表</p>
<div>
  <table>
    <tr>
      <td>
        <%= image_tag("/images/1.jpg") %><br>
      <%= link_to "下载文件",:action=>"downFile",:filename=>"1.jpg" %>
      </td>
    </tr>
  </table>
</div>