<div id="fl">
	<table>
      <thead>
        <tr>
          <th colspan="2">修改信息</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'form' %>
      </tbody>
    </table>

<%= link_to '查看', @friend_link %> |
<%= link_to '返回', friend_links_path %>
</div>