 <%= stylesheet_link_tag "about.css"  %>

  <div id="sHeader">首页 &gt; 关于我们 &gt; 窗内网简介</div>
  <div class="content">
    <h1>窗内网简介</h1>
    <h2>来源：管理员 | 浏览次数：8888次 | 发布时间：2011-11-11</h2>
    <p> <img src="/images/guanyuwomen.jpg" width="200" class="aboutimg" />
    窗内网是由郑州汇智计算机技术服务有限公司创建的一个免费视频教程网站，成立于2002年。窗内网结合软件开发和网站建设的实际需求，发布了Flex、Ruby、C#、Java、ASP和JSP等系列视频教程。旨在推进无纸化教学进程，打造一个免费开放的网络学院。<br />
      <br />
      1、窗内学院<br />
      2、窗内论坛<br />
      3、技术文档<br />
      4、娱乐空间<br />
      5、窗内商城 <br />
    </p>
</div>