<h1>窗内网的空间</h1>
<h3>窗内网致力于免费网络教学,图书出版/署名,视频教程</h3>
<p>大家好，欢迎光临窗内网的个人空间。这是我的新blog，还正在完善呢。<br/>
可以到<a href="http://www.itzcn.com">窗内网网站</a>查看我的最新动态哦....
</p>
<p>
由此进入<%= link_to "文章管理", articles_path %> 页面。
</p>

